body {
    background-color: #0f172a;
    color: white;
}

.main {
    background: linear-gradient(to right, #111827, #1e293b);
}

.match-card {
    padding: 20px;
    border-radius: 15px;
    background: rgba(255,255,255,0.08);
    margin-bottom: 20px;
}